*{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

ul{
    list-style-type:none;
}

/**
* By Bridge on 2017/6/5
*/

/*导航栏字体大小*/
.nav{
    font-size: 1.4em;
}

/*改变导航栏字体的颜色*/
.navbar-default .navbar-nav li > a >{
    color: #111bbc;
}

.navbar-default .navbar-brand{
    color: #5E5E5E;

    font-size: 1.8em;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus{
    color: #071b79;
}

@media (min-width: 768px) {
    /*小于768屏幕不加此效果*/
    .info-content{
        background-color: #fff;
        box-shadow: 2px 2px 3px #ccc;
        padding-bottom: 20px;
        margin-bottom: 40px;
    }
}

/*导航栏*/
.logo{
    padding: 0;
    padding-left: 20px;
}

.topName{
    background: url("../img/bg.jpg");
    padding: 60px 0;

}

.info-content h3{
    color: #333;
    font-size: 18px;
    border-bottom: 1px solid #eee;
    padding: 20px 0;
    margin: 0 0 10px 0;
}
.info-content p{
    line-height: 2;
    font-size: 13px;
}

/*合作企业板块*/

.logo_img{
    margin-top: -20px;
}
.logo_img li{
    float: left;
    width: 20%;
    cursor: hand;
}
.logo_img li img{
    width: 100%;
    transform:scale(0.4,0.4);
    -moz-transform:scale(0.4,0.4);
    -webkit-transform:scale(0.4,0.4);

    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.logo_img img:hover{
    transform:scale(0.9,0.9);
    -moz-transform:scale(0.9,0.9);
    -webkit-transform:scale(0.9,0.9);
}

/*页脚*/
.footer{
    background-color: #0aa2e3;
    border-top:1px solid #ccc;
    padding: 20px;
    text-align: center;
    color: #eee;
}
.footer_a{
    color: white;
}
.footer_a:active{
    color: white;

}
.footer_a:hover{
    color: white;
    text-decoration: none;
}